URL Extraction functions return null when url contains the pipe character

`select url_extract_protocol('https://www.google.com/search?q=there+is+a+|+in+the+url')` returns null.
Removing the pipe character -- | , allows the function to operate as expected.
Expected output is www.google.com.
This is true for all the URL extraction functions.


Based on skimming of https://datatracker.ietf.org/doc/html/rfc2396.html it feels like "|" must be escaped in the URL ([section 2.4.3](https://datatracker.ietf.org/doc/html/rfc2396.html#section-2.4.3)).
I would say function works as intended.

An invalid, non-null input, should make the function throw.

It does't, here:
https://github.com/trinodb/trino/blob/f13283bcc5a7507fa5396cdec9afbda93d642ee6/core/trino-main/src/main/java/io/trino/operator/scalar/UrlFunctions.java#L194

cc @electrum 

I think that in modern systems, a | is a valid part of a URL:

In RFC2396, | is classified as [unwise](https://datatracker.ietf.org/doc/html/rfc2396.html#:~:text=unwise), but not as excluded.

Subsequent revisions make allowances for different character sets in different parts of a URL. There are some situations where a | would not invalidate a URL.

RFC-1738 says

> Unsafe [...] characters are "{", "}", "|", "\", "^", "~", "[", "]", and "`".
> All unsafe characters must always be encoded within a URL.

However, this was updated by RFC-3986, which says:
> the octet corresponding to the tilde ("\~") character is often encoded as "%7E" by older URI processing implementations; the "%7E" can be replaced by "~" without changing its interpretation.

[This](https://stackoverflow.com/a/13500078/7530290) stack overflow answer summarizes and references well.

Similar issue came up on [Postman](https://github.com/postmanlabs/postman-app-support/issues/8794#issuecomment-660045617):
> the next-generation URL processor follows the [WHATWG (URL) standards](https://url.spec.whatwg.org/) which is widely adopted in the web browsers and modern programming languages. You can know more about this change [here](https://github.com/postmanlabs/postman-app-support/issues/8154).
> 
> So, | is no longer an unsafe character in the query.

I think the URL extraction functions should take this into account, and not return null nor throw an error for a URL such as ``https://www.google.com/search?q=ce+n%27est+pas+une+|``